.shoutbox .title {
  text-align: center;
  margin: 1em 0;
}
.shoutbox .content {
  list-style-type: none;
  overflow: scroll;
  overflow-x: hidden;
  height: 35em;
  border: solid;
  padding: 1em;
  margin: 0.5em auto;
  width: 70%;
  float: center;
  clear: both;
   }
.animate {
    -webkit-animation: fade 600ms;
    animation: fade 600ms;
    opacity: 1;
 }
@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
.submitted{
  text-align: right;
  font-size: 0.85em;
  color: darkgray;
}
.name{
  color: blue;
}
.new-shout{
  padding: 1em;
  margin: 0 auto;
  width: 70%;
}
#name-field{
  width: 8em;
}
#text-field{
  width:60%;
}

#text-field.red:-moz-placeholder{
  color:red;
}
#name-field.red:-moz-placeholder{
  color:red;
}
#text-field.red::-moz-placeholder{
  color:red;
}
#name-field.red::-moz-placeholder{
  color:red;
}
#text-field.red::-webkit-input-placeholder{
  color:red;
}
#name-field.red::-webkit-input-placeholder{
  color:red;
}
#text-field.red::-ms-input-placeholder{
  color:red;
}
#name-field.red::-ms-input-placeholder{
  color:red;
}
